<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Static Files" stopProcessing="true">
					<match url="^(archivos|images|css|_framework|_content)/.*" />
					<action type="None" />
				</rule>
				<rule name="Blazor SPA" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<remove fileExtension=".wasm" />
			<remove fileExtension=".pdf" />
			<remove fileExtension=".png" />
			<remove fileExtension=".jpg" />
			<remove fileExtension=".jpeg" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".pdf" mimeType="application/pdf" />
			<mimeMap fileExtension=".png" mimeType="image/png" />
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
			<mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
		</staticContent>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/wasm" enabled="true" />
			</dynamicTypes>
		</httpCompression>
	</system.webServer>
</configuration>